<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>PhotoShare</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                Upload
            </button>
        </div>
        <div class="col-6">
            <p class="display-4 text-center">PhotoShare</p>
        </div>
        <div class="col-4">
            <form action="search" method=post>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input id="nick" type="text" class="form-control" placeholder="Username" aria-label="Username"
                           name="nick" aria-describedby="basic-addon1">

                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary float-right">Search</button>
                    </span>

                    <!-- <input id="nick" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        name="nick" aria-describedby="basic-addon1"> -->
                </div>
                <!-- <div class="input-group-prepend">
                    <button type="submit" class="btn btn-primary float-right">Search</button>
                </div> -->
            </form>

            <div class="search-list">
                <table class="table" id="myTable">
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>
                                <h6>{{ u['name'] }}<h6>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        {% for photo in photos %}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <span class="badge badge-dark">{{ photo['num_likes'] }} likes</span>
                    <div class="float-right">
                        {% if not photo['did_like'] %}
                            <a href="like/{{ photo['uuid'] }}" class="badge badge-pill badge-light pull-right">Like</a>
                        {% else %}
                            <a href="dislike/{{ photo['uuid'] }}" class="badge badge-pill badge-danger pull-right">Dislike</a>
                        {% endif %}
                    </div>
                </div>
                <img class="card-img-top" src="https://s3.amazonaws.com/{{ bucket }}/{{ photo['uuid'] }}"
                     alt="{{ photo['description'] }}">
                <div class="card-body">
                    <h5>{{ photo['description'] }}</h5>
                    <p>Published by {{ photo['user'] }} at {{ photo['when'] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- MODAL html -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload new photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="upload" method="POST" autocomplete="off" id="uploadForm"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="photo">File:</label>
                            <input id="photo" type="file" accept="image/*" class="form-control" name="photo"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input id="description" type="text" class="form-control" name="description"
                                   required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="uploadForm" class="btn btn-primary">Share Photo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>